<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="tallmancode_auth_register" controller="tallman_code_auth.registration_controller:index" path="/register" methods="POST">
        <!-- settings -->
    </route>

    <route id="tallmancode_auth_verify" controller="tallman_code_auth.email_confirmation_controller:verfiy" path="/verfiy">
        <!-- settings -->
    </route>
</routes>